<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded add-extreme-sidenav">
    <ul class="nav nav-pills flex-column">

        <li class="nav-item">
            <a class="nav-link" ui-sref="home.user-info" ui-sref-active="active">Perfil</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" ui-sref="home.my-ads" ui-sref-active="active">Meus Anúncios</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" ui-sref="home.explore" ui-sref-active="active">Explorar</a>
        </li>

    </ul>

</nav>