.login-page{

  background-color: #212121;
  padding-top: 10%;
  padding-bottom: 50%;
  padding-left: 30%;

  .alert{
    width: 60%;
  }

  .card{
    width: 60%;

    .login-button{
      padding: 2%;
      font-size: 18px;
    }

    .login-form{
      padding-top: 5%;
    }
  }
}